<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TMD</title>

<body style="background-color: rgb(229, 238, 145);">
<center>

<h1>Add a movie</h1>

<form action="/add_movie" method="POST">
<p>Movie name:
<input type="text" name="name"></p>
<p>Release year:
<input type="int" name="release"></p>
<p>Director:
<input type="text" name="director"></p>

<label for="genre">Select a genre:</label>
<select type="text" name="genre">
    {% for genre in genres %}
    <option value="{{genre.name}}">{{ genre.name }}</option>
    {% endfor %}
</select>

<p></p>
<input type="submit" value="Add">
</form>

<p></p>
<a href="/">Go back</a>

</center>
</body>