<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TMD</title>

<body style="background-color: rgb(229, 238, 145);">
<center>

<h1>Create account</h1>

<form action="/register" method="POST">
<p>Account:
<input type="text" name="username"></p>
<p>Password:
<input type="password" name="password"></p>
<p>Repeate password:
<input type="password" name="password2"></p>
<p>minmum password length: 6</p>
<input type="submit" value="Register">
</form>

<p></p>
<a href="/">Go back</a>

</center>
</body>